@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #f2f0f4;
  --secondary-bg: #171718;
  --white: #323131;
  background-image: url('https://as1.ftcdn.net/v2/jpg/05/88/10/10/1000_F_588101048_Jn1HdYJJMgh0bLYwcBuszKF7lKipeNqo.jpg');
}
